[submodule "lila"]
	path = lila
	url = https://github.com/ornicar/lila.git
	commit = 85690ca6d63235002ce2f3ea56016551d25fc213
[submodule "lila-ws"]
	path = lila-ws
	url = https://github.com/ornicar/lila-ws.git
	commit = 24515713148e7e12f4a976907af6065fdacf6121
