[submodule "lila"]
	path = lila
	url = https://github.com/ornicar/lila.git
	commit = 1de207d05eacdb9cb99fcaf8ef8743b217b332d8
[submodule "lila-ws"]
	path = lila-ws
	url = https://github.com/ornicar/lila-ws.git
	commit = 20b2d8638198236bc6be16426444e959c7286958
