[submodule "lila"]
	path = lila
	url = https://github.com/ornicar/lila.git
	commit = 264fdd61f44df42253cfc701661a618132d9e45f
[submodule "lila-ws"]
	path = lila-ws
	url = https://github.com/ornicar/lila-ws.git
	commit = 24515713148e7e12f4a976907af6065fdacf6121
